<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-search data-mobile-support>
<head>
    <title>Short it!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{../resources/js/main.js}" src="../js/main.js"></script>
</head>

<body>
<div id="flexbox">
    <div class="header" style="height: 60px">
        <p>Header</p>
    </div>
    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Insert your URL here..."
                   aria-label="Insert your URL here..." aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="button" id="basic-addon1">Short it!</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <a href=""><p aria-describedby="basic-addon2">This is your url!</p></a>
        </div>
        <div class="input-group-append">
            <button class="button" id="basic-addon2">Copy to clipboard!</button>
        </div>
    </div>
    <div>
        <p>Footer</p>
    </div>
</div>
</body>
</html>